/* Variables */

:root {
  --basic-black: #000000;
  --basic-white: #FFFFFF;
  --basic-black-light: #283136;
  --basic-white-light: #EEEEEE;
  --basic-red: #FB565A;
  --basic-steel: #D7DCDE;
  --basic-gray-dark-deep: #444444;
  --basic-gray: #A6A6A6;
  --basic-gray-light: #E1E1E1;
  --basic-green: #00CA74;
  --basic-yellow: #EFC849;
  --basic-gray-dark: #666666;
  --basic-steel: #C1C1C1;

  --special-red:#E74246;
  --special-red-dark:#D7373B;
  --special-green:#00BC6C;
  --special-green-dark:#00AA62;
  --special-yellow:#EAB534;
  --special-yellow-dark:#E5A722;
  --special-steel: #B4B9BB;
  --special-gray:#DBDBDB;
  --special-gray-light:#DFDFDF;
}

/* Global */

body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-black-light);
  background-color: var(--basic-white);

  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Hat */

.hat {
  background-color: var(--basic-white-light);
  margin-bottom: 80px;
}

/* Grid */

.page {
  height: 100%;
}

/* Main header */

.main-header {
  outline: 5px solid rgba(255, 0, 0, 0.7);
  outline-offset: -5px;
}

/* Main navigation */

.main-navigation {
  line-height: 30px;
  font-weight: 500;
  color: var(--basic-black);
  text-transform: uppercase;
  display: grid;
  grid-template-columns: 160px 1fr min-content;
}

.site-navigation {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  outline: 5px solid rgba(0, 255, 255, 0.3);
  outline-offset: -5px;
}

.site-navigation-current a:not([href]) {
  background-color: var(--basic-white);
}

/* Logo */

.main-header-logo {
  width: 160px;
  height: 65px;
  outline: 5px solid rgba(0, 255, 0, 0.7);
  outline-offset: -5px;
}

.main-header-logo:hover {
  opacity: 0.7;
}
.main-header-logo:active {
  opacity: 0.3;
}

/* User navigation */

.user-navigation {
  outline: 5px solid rgba(255, 0, 255, 0.3);
  outline-offset: -5px;
}

.site-navigation a,
.user-navigation a {
  color: var(--basic-black);
  display: block;
  padding: 26px 45px 9px;
}

.site-navigation a:hover,
.user-navigation a:hover {
  color: var(--basic-red);
}
.site-navigation a:focus,
.user-navigation a:focus {
  color: var(--basic-black);
  opacity: 0.3;
}

/* Cart link */

.cart-link::before {
  content: "";
  position: absolute;
/*  top: 33px; */
  width: 15px;
  height: 15px;
  background-image: url("img\cart-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.user-navigation .cart-link {
  position: relative;
}

/* Container */

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Features */

.features {
  outline: 5px solid rgba(255, 0, 0, 0.7);
  outline-offset: -5px;
}

.slider-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.slider-item {
  display: grid;
  grid-template-columns: 1fr 760px;
  height: 431px;
}

.slider-item h3 {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  color: var(--basic-black);
  margin: 0 10px;
  margin-bottom: 25px;
}

.slider-picture {
  order: 1;
}

.slider-picture img {
  width: 760px;
  height: 431px;
}

.slider-information p {
  margin: 0 10px;
  margin-bottom: 38px;
}

.slider-information, .slider-picture {
  outline: 5px solid rgba(0, 255, 255 , 0.3);
  outline-offset: -5px;
}

.slider-list,
.slider-pagination {
  list-style: none;
}

/* Services */

.services {
  margin-bottom: 121px;
  outline: 5px solid rgba(255, 0, 0, 0.7);
  outline-offset: -5px;
}

.services-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 100px;
}

.service-item {
  height: 347px;
  outline: 5px solid rgba(0, 255, 255, 0.7);
  outline-offset: -5px;
}

.service-item h3 {
  text-transform: uppercase;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: var(--basic-black);
  margin: 0 10px;
  margin-bottom: 16px;
}

.service-item p {
  margin: 0 10px;
  margin-bottom: 32px;
}

.service-content img {
  width: 300px;
  height: 146px;
}

.service-content {
  background-color: rgba(251, 86, 90, 0.3);
  order: 0;
}

.service-content-green {
  background-color: rgba(0, 202, 116, 0.3);
}

.service-content-yellow {
  background-color: rgba(239, 200, 73, 0.3);
}

/* About us part */

.about-us-part {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 360px;
  height: 413px;
  column-gap: 149px;
  margin-bottom: 73px;
  outline: 5px solid rgba(255, 0, 0, 0.7);
  outline-offset: -5px;
}

/* About us */

.about-us {
  outline: 5px solid rgba(0, 255, 255, 0.7);
  outline-offset: -5px;
}

.about-us-description {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  color: var(--basic-black);
  margin: 0 10px;
  margin-bottom: 32px;
}

.about-us p {
  margin: 0 10px;
  margin-bottom: 40px;
}

.about-us-works {
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 23px;
}

.about-us-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.about-us-list li {
  margin: 0 10px;
}

/* Advantages */

.advantages {
  outline: 5px solid rgba(0, 255, 255, 0.7);
  outline-offset: -5px;
}

.coloured-logo {
  width: 360px;
  height: 208px;
  margin: 0;
}

.advantages p {
  color: var(--basic-black);
  font-weight: 700;
  margin: 0 10px;
  margin-bottom: 31px;
}

.advantages-facts dl {
  line-height: 18px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.advantages-facts dt {
  font-size: 45px;
  line-height: 64px;
  font-weight: 700;
  color: var(--basic-black);
  margin: 0 10px;
  margin-bottom: 11px;
}

.advantages-facts sup {
  font-size: 26px;
  line-height: 40px;
}

.advantages-facts dd {
  grid-row-start: 3;
  grid-row-end: 4;
  margin: 0 10px;
}

/* Partners */

.partners {
  outline: 5px solid rgba(255, 0, 0, 0.7);
  outline-offset: -5px;
}

.partners-list {
  list-style: none;
  display: flex;
	justify-content: space-around;
  margin-bottom: 80px;
}

.partner-item {
  height: 90px;
  outline: 5px solid rgba(0, 255, 255, 0.7);
  outline-offset: -5px;
}
.partner-item a {
  opacity: 0.2;
}

.partner-item a:hover {
  opacity: 1;
}
.partner-item a:focus {
  opacity: 0.1;
}

/* Button */

.button {
  line-height: 18px;
  font-weight: 500;
  text-align: center;
  color: var(--basic-white);
  text-transform: uppercase;
  background-color: var(--basic-red);
  border-radius: 3px;
  border: none;
  display: inline-block;
  margin-top: 0;
}

.button:hover {
  background-color: var(--special-red);
}
.button:focus {
  background-color: rgba(215, 55, 59, 1);
  color: rgba(255, 255, 255, 0.3);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.button-green {
  background-color: var(--basic-green);
}

.button-green:hover {
  background-color: var(--special-green);
}
.button-green:focus {
  background-color: rgba(0, 170, 98, 1);
  color: rgba(255, 255, 255, 0.3);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.button-yellow {
  background-color: var(--basic-yellow);
}

.button-yellow:hover {
  background-color: var(--special-yellow);
}
.button-yellow:focus {
  background-color: rgba(229, 167, 34, 1);
  color: rgba(255, 255, 255, 0.3);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

/* Shop */

.page-title {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  color: var(--basic-black);
  text-align: center;
  margin: 0;
  margin-bottom: 101px;
  outline: 5px solid rgba(0, 0, 255, 0.7);
  outline-offset: -5px;
}

.page-catalog {
  display: grid;
  grid-template-columns: 260px 1fr;
  align-content: start;
  margin-bottom: 60px;
  outline: 5px solid rgba(255, 0, 0, 0.7);
  outline-offset: -5px;
}

/* Filters */

.filters {
  outline: 5px solid rgba(255, 0, 255, 0.7);
  outline-offset: -5px;
}

.filter-user-pannel {
  grid-column: 1 / -1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 48px;
}

.filter-name,
.catalog-item h3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black);
}

.filter-sort {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

.filter-sort a {
  list-style: none;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-black);
  opacity: 0.3;
}

.filter-sort a:hover {
  opacity: 0.6;
}
.filter-sort a:focus {
  opacity: 1;
}

.filter-price {
 margin-bottom: 54px;
}

.filter-price-range {
  background-color: var(--basic-white-light);
  border-radius: 3px;
  margin-bottom: 14px;
}

.range-controls .scale {
  background-color: var(--basic-steel);
}

.range-controls .bar {
  background-color: var(--basic-green);
}

.range-toggle {
  background-color: var(--basic-white);
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.15);
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.price-field label {
  text-transform: uppercase;
  line-height: 22px;
}

.filter fieldset {
  padding: 0;
  margin: 0;
  margin-bottom: 48px;
  border: none;
}

.filter fieldset:first-child {
  margin-bottom: 43px;
}

.filter-legend {
  margin-bottom: 13px;
}

.filter ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.filter-list-radio,
.filter-list-checkbox label {
  line-height: 20px;
}

.price-field input {
  border-radius: 3px;
  background-color: var(--basic-white-light);
}

.radio:disabled,
.checkbox:disabled {
  opacity: 0.3;
}

.filter-button {
  color: var(--basic-black);
  background-color: var(--basic-white-light);

}
.filter-button:hover {
  background-color: var(--special-gray-light);
}
.filter-button:focus {
  color: rgba(0, 0, 0, 0.3);
  background-color: rgba(213, 213, 213, 1);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

/* Catalog */

.catalog {
  outline: 5px solid rgba(0, 255, 255, 0.7);
  outline-offset: -5px;
  margin-left: 141px;
}

.catalog-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-bottom: 55px;
}

.catalog-item-information {
  background-color: var(--basic-white-light);
  height: 231px;
}

.catalog-item {
  width: 358px;
  min-height: 578px;
  margin-right: 42px;
  margin-bottom: 31px;
}

.catalog-item:nth-child(2n) {
  margin-right: 0;
}

.catalog-item-title {
  text-align: center;
}

.catalog-item-title a {
  display: inline-block;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: var(--basic-black);
  text-align: center;
  margin-top: 26px;
  margin-bottom: 12px;
}


.catalog-item-title a:hover {
  color: var(--basic-red);
}
.catalog-item-title a:focus {
  color: var(--basic-black);
  opacity: 0.3;
}

.catalog-category {
  color: var(--basic-gray-dark);
  line-height: 18px;
  margin-bottom: 32px;
}

.catalog-item-image {
  width: 358px;
  height: 578px;
  margin: 0;
}

.catalog-item-price {
  margin-top: 33px;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 44px;
}

/* Pagination */

.pagination-list {
  list-style: none;
}

.pagination-item a {
  font-weight: 500;
  line-height: 18px;
  color: var(--basic-black);
  text-align: center;
  background-color: var(--basic-white-light);
  border-radius: 3px;
}

.pagination-item a:hover {
  color: var(--basic-black);
  background-color: var(--special-gray-light);
}
.pagination-item a:focus {
  color: rgba(0, 0, 0, 0.3);
  background-color: rgba(213, 213, 213, 1);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.pagination-item-current a,
.pagination-item-current a:hover,
.pagination-item-current a:focus,
.pagination-item-current a:active {
  background-color: var(--basic-white);
  border: 3px solid var(--special-gray);
}

/* Main footer */

.main-footer {
  margin-bottom: 68px;
  outline: 5px solid rgba(255, 0, 0, 0.7);
  outline-offset: -5px;
}

/* Footer contacts */

.map {
  width: 100%;
  height: 416px;
  margin: 0;
}

.footer-contacts {
  width: 319px;
  margin-bottom: 122px;
  outline: 5px solid rgba(0, 255, 0, 0.7);
  outline-offset: -5px;
}

.full-name-Nerds {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: var(--basic-black);
  text-transform: uppercase;
  margin-bottom: 23px;
}

.contact-address, .contact-address a {
  line-height: 18px;
  color: var(--basic-gray-dark);
  margin-bottom: 37px;
}

/* Social Part */

.social-part {
  display: grid;
  grid-template-columns: 260px 1fr;
  column-gap: 140px;
  outline: 5px solid rgba(0, 255, 255, 0.7);
  outline-offset: -5px;
}

/* Social button */

.footer-social {
  outline: 5px solid rgba(0, 255, 0, 0.7);
  outline-offset: -5px;
}

.social-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.social-invitation {
  justify-self: start;
  margin: 0;
  outline: 5px solid rgba(0, 255, 0, 0.7);
  outline-offset: -5px;
}

.friendship-invitation {
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  color: var(--basic-black);
  margin: 0;
  margin-bottom: 10px;
}

.friends-discount {
  line-height: 22px;
  color: var(--basic-gray-dark-deep);
  margin: 0;
}

.social-button {
  color: var(--basic-white);
  background: linear-gradient(0deg, #E1E1E1, #E1E1E1), #FFFFFF;
}

.social-button:hover {
  background-color: var(---special-red);
  background: linear-gradient(0deg, #E74246, #E74246), #FFFFFF;
}
.social-button:focus {
  background-color: var(--special-red-dark);
  background: linear-gradient(0deg, #D7373B, #D7373B), #FFFFFF;
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

/* Modal */

/* Appointment */

.modal-appointment {
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.4);
}

.modal-appointment h2 {
  font-size: 45px;
  line-height: 53px;
  color: var(--basic-black);
  font-weight: 700;
  margin: 0;
  margin-bottom: 37px;
}

.appointment-item {
  margin-top: 0;
  margin-bottom: 37px;
}

.modal-appointment .button {
  margin-top: 10px;
}

.appointment-item label {
  line-height: 18px;
  color: var(--basic-black);
  font-weight: 700;
}

.appointment-close {
  background-color: transparent;
  border: none;
  opacity: 0.3;
}

.appointment-close:hover {
  opacity: 1;
}
.appointment-close:focus {
  opacity: 0.1;
}

.appointment-item input,
.appointment-item textarea {
  line-height: 18px;
  border-radius: 3px;
  border: 2px solid #D7DCDE;
  color: rgba(68, 68, 68, 0.5);
}

.appointment-item input:hover,
.appointment-item textarea:hover {
  border: 2px solid #B4B9BB;
  color: rgba(68, 68, 68, 0.5);
}
.appointment-item input:focus,
.appointment-item textarea:focus {
  border: 2px solid #000000;
  color: rgba(68, 68, 68, 1);
}

/*Не получается сделать (искал в интернете причину, но решения не нашёл)*/
.appointment-item input:invalid {
  border: 2px solid #E74246;
  color: rgba(231, 66, 70, 1);
}
