/* Variables */

:root {
  --basic-black: #000000;
  --basic-white: #FFFFFF;
  --basic-black-light: #283136;
  --basic-white-light: #EEEEEE;
  --basic-red: #FB565A;
  --basic-steel: #D7DCDE;
  --basic-gray-dark-deep: #444444;
  --basic-gray: #A6A6A6;
  --basic-gray-light: #E1E1E1;
  --basic-green: #00CA74;
  --basic-yellow: #EFC849;
  --basic-gray-dark: #666666;
  --basic-steel: #C1C1C1;

  --special-red:#E74246;
  --special-red-dark:#D7373B;
  --special-green:#00BC6C;
  --special-green-dark:#00AA62;
  --special-yellow:#EAB534;
  --special-yellow-dark:#E5A722;
  --special-steel: #B4B9BB;
  --special-gray:#DBDBDB;
  --special-gray-light:#DFDFDF;
  --special-gray-dark:#4D4D4D;
  --special-gray-steel:#ABABAB;
  --special-black:#231F20;
}

/* Global */

body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-black-light);
  background-color: var(--basic-white);
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Grid */

.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

/* Hat */

.hat-wrapper {
  margin-bottom: 80px;
  background-color: var(--basic-white-light);
}

/* Container */

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Main header */

.main-header {
  margin-top: 49px;
}

/* Main navigation */

.main-navigation {
  display: grid;
  grid-template-columns: 160px 1fr min-content;
  line-height: 30px;
  font-weight: 500;
  color: var(--basic-black);
  text-transform: uppercase;
}

/* Logo */

.main-header-logo {
  width: 160px;
  height: 65px;
}

.main-header-logo:hover {
  opacity: 0.7;
}
.main-header-logo:active {
  opacity: 0.3;
}

/* Site navigation */

.site-navigation {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.site-navigation a,
.user-navigation a {
  color: var(--basic-black);
}

.site-navigation li,
.user-navigation a {
  display: block;
  padding: 26px 0 9px;
}

.site-navigation li {
  margin-right: 45px;
}

.site-navigation a:hover,
.user-navigation a:hover span {
  color: var(--basic-red);
}
.site-navigation a:focus,
.user-navigation a:focus span {
  color: var(--basic-black);
  opacity: 0.3;
}

.site-navigation-current {
  position: relative;
  color: var(--basic-black);
}

.site-navigation-current a,
.site-navigation-current a:hover,
.site-navigation-current a:focus,
.site-navigation-current a:active {
  cursor: default;
  color: var(--basic-black);
}

.site-navigation-current::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 1px;
  right: 1px;
  height: 2px;
  background-color: var(--basic-red);
}

/* User navigation */

/* Cart link */

.user-navigation .cart-link {
  position: relative;
  padding-left: 40px;
}

.cart-link::before {
  content: "";
  position: absolute;
  top: 34px;
  left: 2px;
  width: 15px;
  height: 15px;
  background-image: url("../img/cart-icon.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
  opacity: 1;
}

/* Features SLider */

.slider {
  position: relative;
}

.slider-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.slider-item {
  padding: 78px 0 80px;
}

.slide {
  display: none;
}

.slide-current {
  display: grid;
}

.slider-item h3 {
  margin: 0;
  margin-bottom: 27px;
  max-width: 536px;
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  color: var(--basic-black);
}

.slider-item p {
  margin: 0;
}

.slide:first-child {
  background: url("../img/nerds-slide1.png");
  background-position: 99% 0;
  background-repeat: no-repeat;
  width: 760;
  height: 431;
}

.slide:nth-child(2) {
  background: url("../img/nerds-slide2.png");
  background-position: 99% 0;
  background-repeat: no-repeat;
  width: 760;
  height: 431;
}

.slide:last-child {
  background: url("../img/nerds-slide3.png");
  background-position: 99% 0;
  background-repeat: no-repeat;
  width: 760;
  height: 431;
}

.slider-item .button {
  width: 240px;
  margin-top: 39px;
}

.slider-controls {
  position: absolute;
  bottom: 96px;
  left: 535px;
  display: flex;
  justify-content: space-between;
  width: 88px;
}

.slider-controls button {
  padding: 0;
  width: 18px;
  height: 18px;
  background-color: var(--basic-white);
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls .current {
  position: relative;
  background-color: var(--basic-white);
  cursor: default;
}

.slider-controls .current::after {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  width: 8px;
  height: 8px;
  border: 2px solid var(--basic-steel);
  box-sizing: border-box;
  border-radius: 50%;
}

/* Services */

.services {
  position: relative;
}

.services-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  list-style: none;
  margin: 0;
  padding: 0;
  column-gap: 100px;
  padding-bottom: 80px;
  border-bottom: 2px solid var(--basic-white-light);
}

.service-item {
  display: flex;
  flex-direction: column;
  height: 347px;

}

.service-item:nth-child(3) {
  margin-right: 60px;
}

.service-item h3 {
  margin: 0;
  margin-top: 25px;
  margin-bottom: 16px;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: var(--basic-black);
}

.service-item p {
  margin: 0;
  margin-bottom: 32px;
}

.service-content {
  order: -1;
  background-color: rgba(251, 86, 90, 0.3);
  width: 300px;
  height: 146px;
}

.service-content-green {
  background-color: rgba(0, 202, 116, 0.3);
}

.service-content-yellow {
  background-color: rgba(239, 200, 73, 0.3);
}

.service-content img {
  width: 300px;
  height: 146px;
}

/* About us wrapper */

.about-us-wrapper {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 360px;
  column-gap: 149px;
  margin-bottom: 0;
  padding-top: 39px;
  padding-bottom: 60px;
  border-bottom: 2px solid var(--basic-white-light);
}

/* About us */

.about-us-title {
  margin: 0;
  margin-top: 33px;
  margin-bottom: 34px;
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  color: var(--basic-black);
}

.about-us-description {
  margin: 0;
  margin-bottom: 40px;
}

.about-us-works {
  margin: 0;
  margin-bottom: 23px;
  font-weight: 700;
  text-transform: uppercase;
}

.about-us-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.about-us-list li {
  position: relative;
  margin: 0 0 24px 35px;
}

.about-us-list li:last-child {
  margin-bottom: 0;
}

.about-us-list li::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 2px;
  top: 11px;
  left: -36px;
  background-color: var(--basic-red);
}

/* Advantages */

.coloured-logo {
  margin: 0;
  margin-bottom: 36px;
  width: 360px;
  height: 208px;
}

.advantages p {
  text-align: center;
  margin: 0;
  margin-bottom: 28px;
  color: var(--basic-black);
  font-weight: 700;
}

.advantages-facts dl {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  line-height: 18px;
}

.advantages-facts dt {
  margin: 0;
  margin-bottom: 14px;
  font-size: 45px;
  line-height: 64px;
  font-weight: 700;
  color: var(--basic-black);
}

.advantages-facts sup {
  font-size: 26px;
  line-height: 40px;
}

.advantages-facts dd {
  grid-row-start: 3;
  grid-row-end: 4;
  margin: 0;
}

/* Partners */

.partners {
  position: relative;
  padding: 46px 0 37px 0;
  border-bottom: 2px solid var(--basic-white-light);
}

.partners-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.partner-item {
  position: relative;
}

.partner-item:first-child {
  margin: 0 95px 0 32px;
}

.partner-item:nth-child(2) {
  margin-right: 104px;
}

.partner-item:nth-child(3) {
  margin-right: 120px;
}

.partner-item:first-child::after {
  content: "";
  position: absolute;
  top: 5px;
  right: -48px;
  width: 2px;
  height: 52px;
  background-color: var(--basic-white-light);
}

.partner-item:nth-child(2)::after {
  content: "";
  position: absolute;
  top: 24px;
  right: -44px;
  width: 2px;
  height: 52px;
  background-color: var(--basic-white-light);
}

.partner-item:nth-child(3)::after {
  content: "";
  position: absolute;
  top: 3px;
  right: -55px;
  width: 2px;
  height: 52px;
  background-color: var(--basic-white-light);
}

.partner-item a {
  opacity: 0.2;
}

.partner-item a:hover {
  opacity: 1;
}
.partner-item a:focus {
  opacity: 0.1;
}

/* Button */

.button {
  display: inline-block;
  width: 160px;
  padding-top: 17px;
  padding-bottom: 15px;
  margin: 0;
  line-height: 18px;
  font-weight: 500;
  text-align: center;
  color: var(--basic-white);
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--basic-red);
  border-radius: 3px;
  border: none;
  text-decoration: none;
}

.button:hover {
  background-color: var(--special-red);
}
.button:focus {
  background-color: rgba(215, 55, 59, 1);
  color: rgba(255, 255, 255, 0.3);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.button-green {
  background-color: var(--basic-green);
}

.button-green:hover {
  background-color: var(--special-green);
}
.button-green:focus {
  background-color: rgba(0, 170, 98, 1);
  color: rgba(255, 255, 255, 0.3);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.button-yellow {
  background-color: var(--basic-yellow);
}

.button-yellow:hover {
  background-color: var(--special-yellow);
}
.button-yellow:focus {
  background-color: rgba(229, 167, 34, 1);
  color: rgba(255, 255, 255, 0.3);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

/* Shop */

.hat-catalog {
  margin-bottom: 62px;
}

.page-title {
  margin: 0;
  margin-top: 78px;
  margin-bottom: 101px;
  text-align: center;
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  color: var(--basic-black);
}

.page-catalog {
  display: grid;
  grid-template-columns: 260px 1fr;
  align-content: start;
}

.catalog-footer {
  margin-top: 60px;
  margin-bottom: 76px;
}

/* Filters */

.filter legend,
.filter-sort,
.range-name,
.catalog-item h3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black);
}

.filter fieldset {
  padding: 0;
  margin: 0;
  border: none;
  margin-bottom: 30px;
}

.filter fieldset:nth-child(2) {
  margin-top: 51px;
}

.range-name {
  margin-bottom: 50px;
}

.filter legend {
  margin-bottom: 13px;
}

/* Filter user pannel */

.filter-user-pannel {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 88px;
}

.filter-sort {
  margin: 0;
  margin-right: 266px;
}

.filter-sort-list {
  position: relative;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

.filter-sort-list li {
  margin-right: 24px;
}

.filter-sort-list li:last-child {
  margin-right: 0;
}

.filter-sort-list a {
  list-style: none;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-black);
  opacity: 0.3;
}

.filter-sort-list a:hover {
  opacity: 0.6;
}
.filter-sort-list a:focus,
.filter-sort-list a.sort-item-current,
.filter-sort-list a.sort-item-current:hover,
.filter-sort-list a.sort-item-current:focus,
.filter-sort-list a.sort-item-current:active {
  opacity: 1;
  cursor: default;
}

.sort-icons {
  margin-left: 48px;
}

.price-icon:first-child {
  margin-right: 16px;
}

.price-icon {
  fill: var(--basic-gray);
  fill-opacity: 0.2;
}

.price-icon:hover path {
  fill: var(--basic-gray);
  fill-opacity: 1;
}
.price-icon:focus path {
  fill: var(--basic-black);
  fill-opacity: 1;
}

.price-icon-current,
.price-icon-current:hover path,
.price-icon-current:focus path,
.price-icon-current:active path {
  fill: var(--basic-black);
  fill-opacity: 1;
  cursor: default;
}

/* Range filter */

.range-filter {
  width: 260px;
}

.range-controls {
  position: relative;
  height: 41px;
  margin-bottom: 14px;
  padding-top: 39px;
  padding-right: 22px;
  padding-left: 22px;
  background-color: var(--basic-white-light);
  border-radius: 3px;
}

.range-controls .scale {
  height: 2px;
  background: var(--basic-steel);
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background-color: var(--basic-green);
}

.range-controls button {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  padding: 0;
  background-color: var(--special-gray-steel);
  border: 8px solid var(--basic-white);
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.15);
  border-radius: 50%;
  top: 31px;
  left: 0;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  display: flex;
  justify-content: space-between;
}

.price-controls label {
  text-transform: uppercase;
  line-height: 22px;
}

.price-controls input {
  width: 60px;
  padding: 10px;
  margin-left: 10px;
  text-align: center;
  border: none;
  border-radius: 3px;
  background-color: var(--basic-white-light);
}

/* Filter */

.filter ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.filter-list-radio,
.filter-list-checkbox label {
  line-height: 20px;
}

.filter-option {
  margin-bottom: 20px;
  padding-left: 36px;
}

.filter-option label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
}

.filter-input-radio + label::before {
  content: "";
  position: absolute;
  left: -36px;
  top: -1px;
  width: 25px;
  height: 25px;
  border: 4px solid #4D4D4D;
  opacity: 0.4;
  border-radius: 50%;
  box-sizing: border-box;
}

.filter-input-radio:checked + label::after {
  content: "";
  position: absolute;
  top: 7px;
  left: -28px;
  width: 9px;
  height: 9px;
  background-color: var(--special-gray-dark);
  opacity: 0.4;
  border-radius: 50%;
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  left: -36px;
  top: 0;
  width: 23px;
  height: 23px;
  border: 2px solid #4D4D4D;
  opacity: 0.4;
  box-sizing: border-box;
}

.filter-input-checkbox:checked + label::after {
  content: "";
  position: absolute;
  top: 1px;
  left: -31px;
  width: 21px;
  height: 17px;
  background-image: url("../img/tick.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.4;
}

.filter-input-radio:hover + label::before,
.filter-input-radio:hover + label::after,
.filter-input-checkbox:hover + label::before,
.filter-input-checkbox:hover + label::after
{
  opacity: 1;
}

.filter-input-radio:disabled + label,
.filter-input-checkbox:disabled + label {
  cursor: default;
  opacity: 0.3;
}

.filter-input-radio:disabled:hover + label:after,
.filter-input-checkbox:disabled:hover + label:after,
.filter-input-radio:disabled:hover + label:before,
.filter-input-checkbox:disabled:hover + label:before {
  opacity: 0.3;
}

.filter-button {
  width: 100%;
  color: var(--basic-black);
  background-color: var(--basic-white-light);
}

.filter-button:hover {
  background-color: var(--special-gray-light);
}
.filter-button:focus {
  color: rgba(0, 0, 0, 0.3);
  background-color: rgba(213, 213, 213, 1);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

/* Catalog */

.catalog {
  margin-left: 141px;
}

.catalog-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-bottom: 40px;
}

.catalog-item {
  position: relative;
  width: 358px;
  min-height: 578px;
  margin-right: 42px;
  margin-bottom: 70px;
}

.catalog-item:last-child,
.catalog-item:nth-last-child(2) {
  margin-bottom: 0;
}

.catalog-item:nth-child(2n) {
  margin-right: 0;
}

.catalog-item:hover {
  cursor: pointer;
}

.catalog-item:hover .catalog-item-content {
  opacity: 1;
}

.catalog-item::before {
  content: "";
  position: absolute;
  width: 360px;
  height: 40px;
  top: -41px;
  background-color: var(--special-gray-dark);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  opacity: 0.12;
}

.catalog-item:hover::before {
  opacity: 1;
}

.catalog-item-decor {
  position: absolute;
  display: flex;
  align-items: center;
  left: 16px;
  top: -28px;
}

.catalog-item-decor > span {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  left: 16px;
  top: -28px;
  background-color: var(--basic-white);
  margin-right: 9px;
}

.catalog-item-content {
  position: absolute;
  bottom: 0;
  padding: 26px 53px 44px 53px;
  width: 360px;
  background-color: var(--basic-white-light);
  z-index: 1;
  box-sizing: border-box;
  opacity: 0;
}

.catalog-item-title {
  margin: 0;
  margin-bottom: 12px;
  text-align: center;
}

.catalog-item-title a {
  margin: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: var(--basic-black);
  text-align: center;
}

.catalog-item-title a:hover {
  color: var(--basic-red);
}
.catalog-item-title a:focus {
  color: var(--basic-black);
  opacity: 0.3;
}

.catalog-category {
  margin: 0;
  text-align: center;
  margin-bottom: 32px;
  color: var(--basic-gray-dark);
  line-height: 18px;
}

.catalog-item-price {
  margin-left: 27px;
  width: 200px;
}

.catalog-item-image {
  width: 358px;
  height: 578px;
  margin: 0;
  object-fit: contain;
}

/* Pagination */

.pagination-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
}

.pagination-item {
  margin-right: 11px;
}

.pagination-item:last-child {
  text-transform: uppercase;
  width: 260px;
  margin-right: 0;
}

.pagination-item a {
  display: block;
  padding: 17px 20px 15px;
  font-weight: 500;
  line-height: 18px;
  color: var(--basic-black);
  text-align: center;
  background-color: var(--basic-white-light);
  border-radius: 3px;
}

.pagination-item a:hover {
  color: var(--basic-black);
  background-color: var(--special-gray-light);
}
.pagination-item a:focus {
  color: rgba(0, 0, 0, 0.3);
  background-color: rgba(213, 213, 213, 1);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.pagination-item-current a,
.pagination-item-current a:hover,
.pagination-item-current a:focus,
.pagination-item-current a:active {
  background-color: var(--basic-white);
  border: 3px solid var(--special-gray);
  padding: 14px 16px 12px;
  box-sizing: border-box;
  cursor: default;
}

/* Main footer */

.main-footer {
  margin-top: 80px;
  margin-bottom: 68px;
}

/* Map */

.location {
  position: relative;
  margin: 0;
  padding: 0;
}

.location .map img {
  position: absolute;
  min-width: 100%;
  height: 416px;
  margin: 0;
  z-index: -1;
}

.location iframe {
  min-width: 100%;
  height: 416px;
  border: none;
  margin: 0;
}

/* Footer contacts */

.footer-contacts {
  content: "";
  position: absolute;
  margin-top: -437px;
  width: 319px;
  padding: 49px 50px 47px;
  background-color: var(--basic-white);
  box-sizing: border-box;
}

.full-name-Nerds {
  margin: 0;
  margin-bottom: 23px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: var(--basic-black);
  text-transform: uppercase;
}

.contact-address {
  margin: 0;
  margin-bottom: 15px;
  line-height: 18px;
  color: var(--basic-gray-dark);
}

.tel-number {
  margin: 0;
  line-height: 18px;
  color: var(--basic-gray-dark);
}

.footer-contacts .button {
  margin-top: 35px;
  width: 219px;
}

/* Social wrapper */

.social-wrapper {
  display: grid;
  grid-template-columns: 260px 1fr;
  column-gap: 140px;
  margin-top: 68px;
}

/* Social button */

.social-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: -8px;
  padding: 0;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 81px;
  height: 81px;
  color: var(--basic-white);
  background: linear-gradient(0deg, #E1E1E1, #E1E1E1), #FFFFFF;
  border-radius: 50%;
}

.social-button:hover {
  background-color: var(---special-red);
  background: linear-gradient(0deg, #E74246, #E74246), #FFFFFF;
}
.social-button:focus {
  background-color: var(--special-red-dark);
  background: linear-gradient(0deg, #D7373B, #D7373B), #FFFFFF;
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.social-button:focus path {
  fill-opacity: 0.3;
}

.social-invitation {
  justify-self: start;
  margin: 0;
}

.friendship-invitation {
  margin: 0;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  color: var(--basic-black);
}

.friends-discount {
  margin: 0;
  line-height: 22px;
  color: var(--basic-gray-dark-deep);
}

/* Modal connection */

.modal-connection {
  display: none;
  position: fixed;
  right: 0;
  left: 0;
  margin: auto;
  top: 100px;
  bottom: auto;
  width: 760px;
  padding: 63px 100px 84px;
  background: var(--basic-white);
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.4);
  z-index: 1;
}

.modal-connection h2 {
  margin: 0;
  margin-bottom: 20px;
  font-size: 45px;
  line-height: 53px;
  color: var(--basic-black);
  font-weight: 700;
}

.connection-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/*.connection-form input:invalid {
  border: 2px solid #E74246;
}*/

.connection-item {
  width: 360px;
  margin-bottom: 16px;
}

.connection-letter {
  width: 760px;
}

.connection-item input {
  width: 330px;
}

.connection-item textarea {
  width: 730px;
}

.connection-item label {
  display: block;
  margin-bottom: 9px;
  line-height: 18px;
  color: var(--basic-black);
  font-weight: 700;
}

.connection-item input,
.connection-item textarea {
  padding-top: 16px;
  padding-right: 14px;
  padding-bottom: 16px;
  padding-left: 16px;
}

.connection-item input,
.connection-item textarea {
  line-height: 18px;
  border-radius: 3px;
  border: 2px solid #D7DCDE;
  color: rgba(68, 68, 68, 0.5);
}

.connection-item input:hover,
.connection-item textarea:hover {
  border: 2px solid #B4B9BB;
  color: rgba(68, 68, 68, 0.5);
}
.connection-item input:focus,
.connection-item textarea:focus {
  border: 2px solid #000000;
  color: rgba(68, 68, 68, 1);
}

.connection-form .button {
  width: 259px;
  margin-top: 17px;
  cursor: pointer;
}

.modal-show {
  display: block;
  animation: bounce 0.6s;
}

.modal-error {
  animation: shake 0.6s;
}

/* Modal close */

.modal-close {
  content: "";
  position: absolute;
  top: 78px;
  right: 90px;
  width: 21px;
  height: 21px;
  background-color: transparent;
  opacity: 0.3;
  border: 0;
  cursor: pointer;
}

.modal-close::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 21px;
  height: 21px;
  background-image: url("../img/close-cross.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.modal-close:hover {
  opacity: 1;
}
.modal-close:focus {
  opacity: 0.1;
}

/* Animations */

@keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }

  70% {
    transform: translateY(30px);
  }

  90% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}
